ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=admin


ATTENDEE_EMAIL=user@email.com
ATTENDEE_PASSWORD=user


EXHIBITOR_EMAIL=exhibitor@email.com
EXHIBITOR_PASSWORD=exhibitor


SPEAKER_EMAIL=speaker@email.com
SPEAKER_PASSWORD=speaker



INVALID_EMAIL=aadmin@email.com
INVALID_PASSWORD=wrongpassword
NOT_EXIST_EMAIL=notexist@email.com

BASE_URL=https://apps.fliplet.com/fliplet-aqa-events-efefp-8-ke

# Fliplet REST API base URL for integration tests
API_BASE_URL=https://api.fliplet.com/v1

# Fliplet API client
FLIPLET_API_BASE_URL=https://api.fliplet.com
FLIPLET_API_TOKEN=